CREATE TABLE adressees (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT NOT NULL UNIQUE);
CREATE TABLE letter_keywords (id INTEGER PRIMARY KEY AUTOINCREMENT, keyword TEXT NOT NULL UNIQUE);
CREATE TABLE incoming_letters (id INTEGER PRIMARY KEY AUTOINCREMENT, number INTEGER NOT NULL, date INTEGER NOT NULL, adressee INTEGER, "order" TEXT, FOREIGN KEY (adressee) REFERENCES adressees (id) ON DELETE SET NULL ON UPDATE CASCADE);
CREATE TABLE outgoing_letters (id INTEGER PRIMARY KEY AUTOINCREMENT, number INTEGER NOT NULL, date INTEGER NOT NULL, adressee INTEGER, received INTEGER DEFAULT (0), FOREIGN KEY (adressee) REFERENCES adressees (id) ON DELETE SET NULL ON UPDATE CASCADE);
CREATE TABLE incoming_letter_keywords (letterid INTEGER NOT NULL, keywordid INTEGER NOT NULL, PRIMARY KEY (letterid, keywordid), FOREIGN KEY (letterid) REFERENCES incoming_letters (id) ON DELETE CASCADE ON UPDATE CASCADE, FOREIGN KEY (keywordid) REFERENCES letter_keywords (id) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE outgoing_letter_keywords (letterid INTEGER NOT NULL, keywordid INTEGER NOT NULL, PRIMARY KEY (letterid, keywordid), FOREIGN KEY (letterid) REFERENCES outgoing_letters (id) ON DELETE CASCADE ON UPDATE CASCADE, FOREIGN KEY (keywordid) REFERENCES letter_keywords (id) ON DELETE CASCADE ON UPDATE CASCADE);


